

<!-- Display all the house rules for the game -->
<h1>House Rules for <%= @game.name %></h1>
<ul class="list-group">
  <% @game.house_rules.sort_by { |hr| hr.user_id == current_user.id ? 0 : 1 }.each do |house_rule| %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <div>
          <strong><%= house_rule.name %></strong>: <%= house_rule.content %>
        </div>
        <% if house_rule.user_id == current_user.id %>
        <div>
          <%= button_to "Edit", edit_game_house_rule_path(@game, house_rule), method: :get, class: "btn btn-primary mr-2" %>
          <%= button_to "Delete", game_house_rule_path(@game, house_rule), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>


<!-- Form to add a new house rule -->
<h2>Your House Rule</h2>
<%= form_with(url: game_house_rules_path(@game), local: true, class: "form") do |form| %>

  <div class="form-group">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, class: "form-control",  name: "house_rule[name]" %>
  </div>

  <div class="form-group">
    <%= form.label :content, class: "control-label" %>
    <%= form.text_area :content, class: "form-control", name: "house_rule[content]" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

